click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pandas
numpy

# Data Visualization
matplotlib
seaborn
plotly

# Model Management and Utilities
joblib
optuna
scipy

# Machine Learning
scikit-learn
xgboost
lightgbm
catboost
